.sobre-nosotros {
    padding-top: 3rem;
    padding-bottom: 6rem;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
   
.sobre_nosotros.container {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 50px 0;

}
.sobre_nosotros__contenido {
    
    width: 500px;
    padding: 0px 70px 0px 42px ;
}
.sobre_nosotros.item__titulo{
    padding-top: 500px;
}
.sobre_nosotros.titulo {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    
}
.nosotros {
    margin:80px 80px 80px 0px;
}
.porcuenta {
    margin: 0px 0px 32px 0px;
}   
.sobre_nosotros__texto {
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1rem;
    padding-bottom: 16 px;
}

.sobre_nosotros__contenido > p {
    padding: 0 0 15px 0;
}
.sobre_nosotros__contenido > h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

}
.sobre_nosotros__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.sobre-nosotros {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
}
.iconos-img{
        
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin:20px 15px;
    align-items: center;
    padding: 0px 15px  5px 0;

}